/* You can add global styles to this file, and also import other style files */
.login-container {
    width: 700px !important;
    margin-top: 10%;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }